In [1]:
import pandas as pd
import numpy as np 
from datetime import datetime
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 10, 6

In [2]:
join_type = ['inner']
features_data = pd.read_csv("Data_set/Features data set.csv")
sales_data = pd.read_csv("Data_set/sales data-set.csv")
Total_Weekly_Sales= sales_data[['Date', 'Weekly_Sales']].groupby(['Date']).sum().reset_index()
Total_Weekly_Sales.rename(mapper={'Weekly_Sales': 'Total_Weekly_Sales'}, axis=1, inplace=True)
sales_data = pd.merge(sales_data, Total_Weekly_Sales, how=join_type[0], on=['Date'])
# TOTAL WEEKLY MARKDOWN
markdown_columns = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']
features_data[markdown_columns] = features_data[markdown_columns].fillna(value=0)
features_data['MarkDown'] = features_data['MarkDown1'] + features_data['MarkDown2'] + \
features_data['MarkDown3'] + features_data['MarkDown4'] + features_data['MarkDown5']

total_weekly_features= features_data[['Date', 'MarkDown']].groupby(['Date']).sum().reset_index()
total_weekly_features.rename(mapper={'MarkDown': 'Total_Weekly_MarkDown'}, axis=1, inplace=True)
features_data = pd.merge(features_data, total_weekly_features, how=join_type[0], on=['Date'])

In [ ]:
join_columns = ['Date', 'Store', 'IsHoliday']
weekly_sales_data = pd.merge(features_data, sales_data, how=join_type[0], on=join_columns)
weekly_sales_data['Date'] = pd.to_datetime(weekly_sales_data['Date'])
weekly_sales_data['Date'] = weekly_sales_data['Date'].dt.date

In [8]:
weekly_sales_data.head()

      MarkDown        Date  Total_Weekly_Sales
2955       0.0  2010-12-02         48336677.63
2956       0.0  2010-12-02         48336677.63
2957       0.0  2010-12-02         48336677.63
2958       0.0  2010-12-02         48336677.63
2959       0.0  2010-12-02         48336677.63

In [5]:
weekly_sales_subset = weekly_sales_data[weekly_sales_data.IsHoliday==True]

In [7]:
select_columns = ['Total_Weekly_MarkDown', 'Date', 'Total_Weekly_Sales']
weekly_sales_subset = weekly_sales_subset[select_columns]